#friends-display-link {
  text-align: center;
  background-color: RGB(250, 250, 250);
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: 92px;
  padding: 15px 0px;
  width: 100%;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 1px;
}

.main-screen__friends {
  position: relative;
  top: 137px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.friends-screen__channel-header span {
  font-weight: 600;
}

.user-component__channel {
  top: 0px;
}
.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.user-component__text--thin {
  font-weight: 500;
}
