.no-mobile {
  background-color: var(--yellow);
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 1000vh;
  top: 0;
  text-align: center;
  font-size: 28px;
}
.no-mobile span {
  position: relative;
  top: 41vh;
}

@media screen and (max-width: 500px) {
  .no-mobile {
    display: none;
  }
}
