.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  width: 100%;
  position: fixed;
  top: 25px;
  box-sizing: border-box;
  background-color: white;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 800;
}
.screen-header__icon {
  position: relative;
}
.screen-header__icon span {
  margin-left: 25px;
}

@keyframes cog-rotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon .fa-cog:hover {
  animation: cog-rotate 2s linear infinite;
}
